@model WebApplication2.Models.PersonViewModel

@{
    ViewBag.Title = "AddPerson";
}

<h2>AddPerson</h2>
<div>
    @using (Html.BeginForm("AddPerson", "Home", FormMethod.Post, new { target = "_blank" }))
    {
        @Html.ValidationSummary()
        <p>First name: @Html.TextBoxFor(x => x.FirstName) </p>
        <p>Middle Name: @Html.TextBoxFor(x => x.MiddleName)</p>
        <p>Last Name: @Html.TextBoxFor(x => x.LastName)</p>

        <p>Date of Birth: @Html.TextBoxFor(x => x.DOB)</p>
        <p>Added On: @Html.TextBoxFor(x => x.AddedOn)</p>

        <p>Added by: @Html.TextBoxFor(x => x.AddedBy)</p>

        <p>Home Address: @Html.TextBoxFor(x => x.HomeAddress)</p>
        <p>Home City: @Html.TextBoxFor(x => x.HomeCity)</p>
        <p>Fcebook Id: @Html.TextBoxFor(x => x.FacebookId)</p>

        <p>LinkedIn Id: @Html.TextBoxFor(x => x.LinkedInId)</p>
        <p>Update On: @Html.TextBoxFor(x => x.UpdateOn)</p>
        <p>Twitter Id: @Html.TextBoxFor(x => x.TwitterId)</p>
        <p>Email Id: @Html.TextBoxFor(x => x.EmailId)</p>

        <button onClick='redirectOnClick9()'> Add Contact</button>
        <script>
            function redirectOnClick9() {
                document.location = 'AddContact';
            }
        </script>


        <input type="submit" value="ADDED" class="btn btn-block btn-primary" />





    }
</div>

